In [ ]:
####################################### Person 1 ################################################ 
# Getting Data from Drive 
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Extract Data
from zipfile import ZipFile
file_name="/content/drive/MyDrive/stacksample.zip"
with ZipFile(file_name,'r')as zip:
  zip.extractall()
  print("done")

done

In [ ]:
# Importing nedded Libraries
import numpy as np
import pandas as pd

In [ ]:
# Importing Tags Dataset
Tags_DF = pd.read_csv('/content/Tags.csv')

In [ ]:
# Exploring Data
Tags_DF.head()

   Id             Tag
0  80            flex
1  80  actionscript-3
2  80             air
3  90             svn
4  90     tortoisesvn

In [ ]:
# Identifying The Frequencies of unique values of Tag Column
# It gets the values of each tag 
Tags_Counter = Tags_DF['Tag'].value_counts()

In [ ]:
# Resetting Index of Tags_Counter and Converting it into Dataframe
Tags_Counter = pd.DataFrame(Tags_Counter)
Tags_Counter = Tags_Counter.reset_index()
Tags_Counter.head()

        index     Tag
0  javascript  124155
1        java  115212
2          c#  101186
3         php   98808
4     android   90659

In [ ]:
# Renamming Columns to make it clearer
Tags_Counter.rename(columns = {'index':'Tag' , 'Tag':'Counts'}, inplace = True)
Tags`_Counter.head()

          Tag  Counts
0  javascript  124155
1        java  115212
2          c#  101186
3         php   98808
4     android   90659

In [ ]:
# Merging Both Tags_DF and Tags_Counter
Tags_DF = pd.merge(Tags_DF , Tags_Counter , on = 'Tag')

In [ ]:
## Getting First 5 Rows of Tags_DF
Tags_DF.head()

      Id   Tag  Counts
0     80  flex    2430
1  10870  flex    2430
2  14350  flex    2430
3  20510  flex    2430
4  20910  flex    2430

In [ ]:
# Getting The Ones greater than 4021 Indices to make data more balanced and for fair datasize
Tags_Counter.loc[Tags_Counter["Counts"] >= 4021, :].index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
             97,  98,  99, 100, 101, 102, 103, 104, 105, 106],
           dtype='int64', length=107)

In [ ]:
# Getting Top 10 Frequent Tags and locing their values
chosen_tags_indices = list(range(106, -1, -1))[:10]
chosen_tags_names = list(Tags_Counter.loc[chosen_tags_indices, "Tag"].values)

In [ ]:
# Filtering to the most frequent
Tags_DF = Tags_DF.loc[Tags_DF["Tag"].isin(chosen_tags_names), :]

In [ ]:
# Getting 5 Rows
Tags_DF.head()

         Id             Tag  Counts
2430     80  actionscript-3    4039
2431  10870  actionscript-3    4039
2432  14350  actionscript-3    4039
2433  33590  actionscript-3    4039
2434  63390  actionscript-3    4039

In [ ]:
# Sorting By ID to Tags_DF
Tags_DF  = Tags_DF .sort_values(by = 'Id')
Tags_DF .head()

          Id             Tag  Counts
2430      80  actionscript-3    4039
325131   930           loops    4121
793594  4880           email    4070
817969  5260            date    4021
793595  6210           email    4070

In [ ]:
# Turning ID to int32 Datatype
Tags_DF ['Id'] = Tags_DF ['Id'].astype('int32')
Tags_DF .shape
#################################### END Person 1 ###############################################

(41147, 3)

In [ ]:
################################## Person 2 #################################################
# Reading Questions Dataset
Question_DF = pd.read_csv('/content/Questions.csv' , encoding='latin-1')
Question_DF.head()

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...
2,120,83.0,2008-08-01T15:50:08Z,NaN,21,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...
3,180,2089740.0,2008-08-01T18:42:19Z,NaN,53,Function for creating color wheels,<p>This is something I've pseudo-solved many t...
4,260,91.0,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...

In [ ]:
print(Question_DF.shape)

(1264216, 7)

In [ ]:
# Dropping not needed columns
Updated_Question = Question_DF.drop(['OwnerUserId' ,  'CreationDate' , 'ClosedDate' , 'Score'] , axis =1)
# Separating by Spaces 
def comb_tags_func(x):
    list_tags = x.values
    tag_comb = ' '.join(list_tags)
    return tag_comb
# Grouping by ID of Tags
mapping_dict = Tags_DF.groupby('Id')['Tag'].apply(comb_tags_func)

In [ ]:
# Performing Same of Tgs
Updated_Question['tag'] = Updated_Question['Id'].map(mapping_dict)
Updated_Question.head()

,Id,Title,Body,tag
0,80,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...,actionscript-3
1,90,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...,NaN
2,120,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...,NaN
3,180,Function for creating color wheels,<p>This is something I've pseudo-solved many t...,NaN
4,260,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...,NaN

In [ ]:
# Dropping Null Values 
Updated_Question.dropna(inplace=True)
# Splitting Data
Updated_Question['tag'] = Updated_Question['tag'].apply(lambda x : x.split())
Updated_Question.head()

,Id,Title,Body,tag
0,80,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...,[actionscript-3]
10,930,How do I connect to a database and loop over a...,<p>What's the simplest way to connect and quer...,[loops]
57,4880,"Is a ""Confirm Email"" input good practice when ...",<p>My organization has a form to allow users t...,[email]
60,5260,What is the best way to wrap time around the w...,<p>I have a situation where I want to add hour...,[date]
68,6210,E-mail Notifications,"<p>In a .net system I'm building, there is a n...",[email]

In [ ]:
# Returning Content of Second Row 
Updated_Question['Body'].iloc[1]

"<p>What's the simplest way to connect and query a database for a set of records in C#?</p>\n"

In [ ]:
# Replacing HTML Tags of body
Updated_Question['Body']=Updated_Question['Body'].str.replace('<p>',' ')
import re
Updated_Question['Body']=Updated_Question['Body'].apply(lambda x : re.sub('(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)' , ' ' , x))
Updated_Question['Body']=Updated_Question['Body'].str.replace('</p>',' ')
Updated_Question['Body']=Updated_Question['Body'].str.replace('\n',' ')
Updated_Question['Body']=Updated_Question['Body'].str.replace('</a>',' ')

In [ ]:
# Removing Stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words=set(nltk.corpus.stopwords.words('english'))
Updated_Question['Body']=Updated_Question['Body'].apply(lambda x : x.lower())
Updated_Question['Body'] = Updated_Question['Body'].apply(lambda x : ' '.join([w for w in x.split() if not w in stop_words]))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
# Replacing a href tag with space
Updated_Question['Body']=Updated_Question['Body'].str.replace('<a href=" ">','')
Updated_Question['Body'] = Updated_Question['Body'].apply(lambda x : ' '.join([w for w in x.split() if len(w)>3]))
Updated_Question['Body'].iloc[1]

"what's simplest connect query database records"

In [ ]:
# Performing Stemming on Snowball Stemmer
import nltk
from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords
nltk.download('stopwords')

stemmer = SnowballStemmer('english')
stop_words=set(nltk.corpus.stopwords.words('english'))

Updated_Question['Title'] = [i.replace("?", "") for i in Updated_Question['Title']]
Updated_Question['Title'] = Updated_Question['Title'].apply(lambda x : ' '.join([w for w in x.split() if not w in stop_words]))
Updated_Question['Title'] = [stemmer.stem(i) for i in Updated_Question['Title']]
######################################### End Person 2 #########################################

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
Updated_Question.head()

,Id,Title,Body,tag
0,80,sqlstatement.execute() - multiple queries one ...,i've written database generation script want e...,[actionscript-3]
10,930,how i connect database loop recordset c#,what's simplest connect query database records,[loops]
57,4880,"is ""confirm email"" input good practice user ch...",organization form allow users update email add...,[email]
60,5260,what best way wrap time around work day,situation want hours date date wrap around wor...,[date]
68,6210,e-mail notif,".net system building, need automated e-mail no...",[email]

In [ ]:
##################################### Person 3 #################################################
# Performing Multi label binarizer
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

s=Updated_Question['tag']
tag_dummies=pd.DataFrame(mlb.fit_transform(s),columns=mlb.classes_, index=Updated_Question.index).add_prefix('tag_')
Updated_Question=pd.concat([Updated_Question,tag_dummies],axis=1)

In [ ]:
Updated_Question.head()

,Id,Title,Body,tag,tag_actionscript-3,tag_android-layout,tag_date,tag_email,tag_loops,tag_python-3.x,tag_sorting,tag_symfony2,tag_tsql,tag_xaml
0,80,sqlstatement.execute() - multiple queries one ...,i've written database generation script want e...,[actionscript-3],1,0,0,0,0,0,0,0,0,0
10,930,how i connect database loop recordset c#,what's simplest connect query database records,[loops],0,0,0,0,1,0,0,0,0,0
57,4880,"is ""confirm email"" input good practice user ch...",organization form allow users update email add...,[email],0,0,0,1,0,0,0,0,0,0
60,5260,what best way wrap time around work day,situation want hours date date wrap around wor...,[date],0,0,1,0,0,0,0,0,0,0
68,6210,e-mail notif,".net system building, need automated e-mail no...",[email],0,0,0,1,0,0,0,0,0,0

In [ ]:
pred_features=[feature for feature in Updated_Question.columns if 'tag_' in feature]
pred_features

['tag_actionscript-3',
 'tag_android-layout',
 'tag_date',
 'tag_email',
 'tag_loops',
 'tag_python-3.x',
 'tag_sorting',
 'tag_symfony2',
 'tag_tsql',
 'tag_xaml']

In [ ]:
# Identifying Y
y = Updated_Question[pred_features]

In [ ]:
y.shape

(40869, 10)

In [ ]:
Updated_Question

,Id,Title,Body,tag,tag_actionscript-3,tag_android-layout,tag_date,tag_email,tag_loops,tag_python-3.x,tag_sorting,tag_symfony2,tag_tsql,tag_xaml
0,80,sqlstatement.execute() - multiple queries one ...,i've written database generation script want e...,[actionscript-3],1,0,0,0,0,0,0,0,0,0
10,930,how i connect database loop recordset c#,what's simplest connect query database records,[loops],0,0,0,0,1,0,0,0,0,0
57,4880,"is ""confirm email"" input good practice user ch...",organization form allow users update email add...,[email],0,0,0,1,0,0,0,0,0,0
60,5260,what best way wrap time around work day,situation want hours date date wrap around wor...,[date],0,0,1,0,0,0,0,0,0,0
68,6210,e-mail notif,".net system building, need automated e-mail no...",[email],0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1264107,40140790,combine selectableitembackground shape final b...,simple recyclerview displays line text. select...,[android-layout],0,1,0,0,0,0,0,0,0,0
1264133,40141540,easier way check string contains one type lett...,string <code>'829383&amp;&amp;*&amp;@&lt;&lt;&...,[python-3.x],0,0,0,0,0,1,0,0,0,0
1264135,40141570,using over clause t-sql select distinct column...,"table cola, colb, colc, cold. need select dist...",[tsql],0,0,0,0,0,0,0,0,1,0
1264143,40141660,yes no answer user validation restart opt,"(py) moment, code validate/output error messag...",[loops],0,0,0,0,1,0,0,0,0,0
1264186,40142590,convert date yyyy-mm-dd,"input type date works browsers (html5 chrome, ...",[date],0,0,1,0,0,0,0,0,0,0

In [ ]:
# Accessing Number of Tags for each Row
Updated_Question['text'] = Updated_Question['Body'] + ' ' + Updated_Question['Title']
Updated_Question['num_tags'] = Updated_Question.loc[:, "tag_actionscript-3":"tag_xaml"].sum(axis=1)
Updated_Question.head()

,Id,Title,Body,tag,tag_actionscript-3,tag_android-layout,tag_date,tag_email,tag_loops,tag_python-3.x,tag_sorting,tag_symfony2,tag_tsql,tag_xaml,text,num_tags
0,80,sqlstatement.execute() - multiple queries one ...,i've written database generation script want e...,[actionscript-3],1,0,0,0,0,0,0,0,0,0,i've written database generation script want e...,1
10,930,how i connect database loop recordset c#,what's simplest connect query database records,[loops],0,0,0,0,1,0,0,0,0,0,what's simplest connect query database records...,1
57,4880,"is ""confirm email"" input good practice user ch...",organization form allow users update email add...,[email],0,0,0,1,0,0,0,0,0,0,organization form allow users update email add...,1
60,5260,what best way wrap time around work day,situation want hours date date wrap around wor...,[date],0,0,1,0,0,0,0,0,0,0,situation want hours date date wrap around wor...,1
68,6210,e-mail notif,".net system building, need automated e-mail no...",[email],0,0,0,1,0,0,0,0,0,0,".net system building, need automated e-mail no...",1

In [ ]:
Updated_Question['num_tags'].value_counts()
########################################### End Person 3 ##############################

1    40594
2      272
3        3
Name: num_tags, dtype: int64

In [ ]:
############################################ Person 4 ########################################
!pip install scikit-multilearn
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer , TfidfVectorizer
from sklearn.multioutput import MultiOutputClassifier
from sklearn.multiclass import OneVsRestClassifier
from skmultilearn.problem_transform import BinaryRelevance, ClassifierChain, LabelPowerset
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import hamming_loss
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense , Dropout , LSTM , Bidirectional , Embedding

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-multilearn in /usr/local/lib/python3.10/dist-packages (0.2.0)

In [ ]:
# Applying K-Fold Cross 
Updated_Question['kfold'] = -1
Updated_Question = Updated_Question.sample(frac = 1, random_state = 100).reset_index(drop = True)

In [ ]:
skf = model_selection.StratifiedKFold(n_splits = 5)

# Filling the new KFold column - 
for f , (t_ , v_) in enumerate(skf.split(X = Updated_Question , y = Updated_Question.num_tags.values)) :
    Updated_Question.loc[v_ , 'kfold'] = f

/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=5.
  warnings.warn(

In [ ]:
Updated_Question.kfold.value_counts()

0    8174
1    8174
2    8174
3    8174
4    8173
Name: kfold, dtype: int64

In [ ]:
lr=LogisticRegression(penalty='l1',solver='liblinear',class_weight='balanced',C=0.1, random_state=25)
######################################### End Person 4 ###########################################

In [ ]:
################################## Person 5 #########################
# First Neural Network
import keras
inputs = keras.Input(shape=(2500,))
x = keras.layers.Dense(128, activation='relu')(inputs)
x = keras.layers.Dense(64, activation = 'relu')(x)
x = keras.layers.Dense(32, activation = 'relu')(x)
x = keras.layers.Dense(16, activation = 'relu')(x)
output = keras.layers.Dense(10, activation = 'sigmoid')(x)
model = keras.Model(inputs=inputs, outputs=output)

In [ ]:
model.compile(optimizer="rmsprop",loss="binary_crossentropy" , metrics = ['accuracy'])
model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 2500)]            0

 dense (Dense)               (None, 128)               320128

 dense_1 (Dense)             (None, 64)                8256

 dense_2 (Dense)             (None, 32)                2080

 dense_3 (Dense)             (None, 16)                528

 dense_4 (Dense)             (None, 10)                170

=================================================================
Total params: 331,162
Trainable params: 331,162
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Applying TF-IDF Method
tfidf_vectorizer = TfidfVectorizer(stop_words = 'english' , max_features = 2500)

In [ ]:
X = Updated_Question['text']
y = Updated_Question[pred_features]

In [ ]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.2)

In [ ]:
X_train = tfidf_vectorizer.fit_transform(X_train)
X_test = tfidf_vectorizer.transform(X_test)

In [ ]:
y_train.shape

(32695, 10)

In [ ]:
X_train.shape

(32695, 2500)

In [ ]:
# Converting Sparse Matrix to Dense Matrix
X_train = pd.DataFrame.sparse.from_spmatrix(X_train)
X_test = pd.DataFrame.sparse.from_spmatrix(X_test)

In [ ]:
print(X_train.shape)
print(y_train.shape)

(32695, 2500)
(32695, 10)

In [ ]:
model.fit(X_train , y_train , epochs = 10)

Epoch 1/10
1022/1022 [==============================] - 16s 8ms/step - loss: 0.1814 - accuracy: 0.6673
Epoch 2/10
1022/1022 [==============================] - 8s 8ms/step - loss: 0.0573 - accuracy: 0.9132
Epoch 3/10
1022/1022 [==============================] - 4s 4ms/step - loss: 0.0460 - accuracy: 0.9287
Epoch 4/10
1022/1022 [==============================] - 5s 5ms/step - loss: 0.0398 - accuracy: 0.9392
Epoch 5/10
1022/1022 [==============================] - 5s 5ms/step - loss: 0.0348 - accuracy: 0.9478
Epoch 6/10
1022/1022 [==============================] - 4s 4ms/step - loss: 0.0305 - accuracy: 0.9516
Epoch 7/10
1022/1022 [==============================] - 6s 6ms/step - loss: 0.0268 - accuracy: 0.9579
Epoch 8/10
1022/1022 [==============================] - 5s 4ms/step - loss: 0.0233 - accuracy: 0.9644
Epoch 9/10
1022/1022 [==============================] - 4s 4ms/step - loss: 0.0201 - accuracy: 0.9693
Epoch 10/10
1022/1022 [==============================] - 6s 5ms/step - loss: 0.0168 - accuracy: 0.9739

In [ ]:
model.evaluate(X_test , y_test)

256/256 [==============================] - 1s 3ms/step - loss: 0.0663 - accuracy: 0.9120

[0.06626750528812408, 0.9120381474494934]

In [ ]:
########################################## Person 6 ###########################################
# Second Neural Network
import keras
from keras.layers import Dense, Input, LeakyReLU,BatchNormalization

inputs = keras.Input(shape=(2500,))
x = keras.layers.Dense(128)(inputs)
x = BatchNormalization()(x)
x = LeakyReLU(alpha=0.1)(x)
x = keras.layers.Dense(64)(x)
x = BatchNormalization()(x)
x = LeakyReLU(alpha=0.1)(x)
x = keras.layers.Dense(32)(x)
x = BatchNormalization()(x)
x = LeakyReLU(alpha=0.1)(x)
x = keras.layers.Dense(16)(x)
x = BatchNormalization()(x)
x = LeakyReLU(alpha=0.1)(x)
output = keras.layers.Dense(10, activation = 'sigmoid')(x)
model2 = keras.Model(inputs=inputs, outputs=output)

In [ ]:
model2.compile(optimizer="rmsprop",loss="binary_crossentropy" , metrics = ['accuracy'])
model2.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_2 (InputLayer)        [(None, 2500)]            0

 dense_5 (Dense)             (None, 128)               320128

 batch_normalization (BatchN  (None, 128)              512
 ormalization)

 leaky_re_lu (LeakyReLU)     (None, 128)               0

 dense_6 (Dense)             (None, 64)                8256

 batch_normalization_1 (Batc  (None, 64)               256
 hNormalization)

 leaky_re_lu_1 (LeakyReLU)   (None, 64)                0

 dense_7 (Dense)             (None, 32)                2080

 batch_normalization_2 (Batc  (None, 32)               128
 hNormalization)

 leaky_re_lu_2 (LeakyReLU)   (None, 32)                0

 dense_8 (Dense)             (None, 16)                528

 batch_normalization_3 (Batc  (None, 16)               64
 hNormalization)

 leaky_re_lu_3 (LeakyReLU)   (None, 16)                0

 dense_9 (Dense)             (None, 10)                170

=================================================================
Total params: 332,122
Trainable params: 331,642
Non-trainable params: 480
_________________________________________________________________

In [ ]:
model2.fit(X_train , y_train , epochs = 10)

Epoch 1/10
1022/1022 [==============================] - 12s 9ms/step - loss: 0.1546 - accuracy: 0.8276
Epoch 2/10
1022/1022 [==============================] - 8s 8ms/step - loss: 0.0487 - accuracy: 0.9201
Epoch 3/10
1022/1022 [==============================] - 9s 9ms/step - loss: 0.0375 - accuracy: 0.9384
Epoch 4/10
1022/1022 [==============================] - 9s 9ms/step - loss: 0.0317 - accuracy: 0.9462
Epoch 5/10
1022/1022 [==============================] - 7s 7ms/step - loss: 0.0273 - accuracy: 0.9538
Epoch 6/10
1022/1022 [==============================] - 9s 9ms/step - loss: 0.0224 - accuracy: 0.9632
Epoch 7/10
1022/1022 [==============================] - 8s 7ms/step - loss: 0.0200 - accuracy: 0.9680
Epoch 8/10
1022/1022 [==============================] - 9s 8ms/step - loss: 0.0170 - accuracy: 0.9726
Epoch 9/10
1022/1022 [==============================] - 9s 8ms/step - loss: 0.0146 - accuracy: 0.9755
Epoch 10/10
1022/1022 [==============================] - 8s 8ms/step - loss: 0.0130 - accuracy: 0.9794

In [ ]:
model2.evaluate(X_test , y_test)

256/256 [==============================] - 1s 4ms/step - loss: 0.0787 - accuracy: 0.9036

[0.07874491065740585, 0.9035967588424683]

In [ ]:
import joblib
joblib.dump(model,'NLPModel1.sav')
joblib.dump(model2,'NLPModel2.sav')

['NLPModel2.sav']